In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv("Ecommerce_Order_Fulfilment.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          200 non-null    object
 1   Order_Date        200 non-null    object
 2   Delivery_Date     200 non-null    object
 3   Delivery_Status   200 non-null    object
 4   Region            200 non-null    object
 5   Product_Category  200 non-null    object
 6   Sales_Amount      200 non-null    int64
dtypes: int64(1), object(6)
memory usage: 11.1+ KB

In [3]:
df.head()

,Order_ID,Order_Date,Delivery_Date,Delivery_Status,Region,Product_Category,Sales_Amount
0,ORD1000,2024-01-01,2024-01-08,Delayed,North,Books,9308
1,ORD1001,2024-01-02,2024-01-06,On-Time,East,Fashion,3767
2,ORD1002,2024-01-03,2024-01-11,Delayed,West,Books,17709
3,ORD1003,2024-01-04,2024-01-09,On-Time,North,Home,6245
4,ORD1004,2024-01-05,2024-01-12,Delayed,North,Home,11838

In [9]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Length: 200, dtype: bool

In [10]:
#convert date into datetime datatype
df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')
df['Delivery_Date'] = pd.to_datetime(df['Delivery_Date'], errors='coerce')

In [11]:
#extract month from dates
df['Order_Month']=df['Order_Date'].dt.month_name()
df['Delivery_Month']=df['Delivery_Date'].dt.month_name()

In [12]:
#calculating delivery duration in days
df['Delivery_Duration_In-Days'] = (df['Delivery_Date'] - df['Order_Date']).dt.days

In [15]:
df.loc[df['Delivery_Duration_In-Days'] > 5, 'Delivery_Status'] = 'Delayed'
df.loc[df['Delivery_Duration_In-Days'] <= 5, 'Delivery_Status'] = 'On-Time'
df

,Order_ID,Order_Date,Delivery_Date,Delivery_Status,Region,Product_Category,Sales_Amount,Order_Month,Delivery_Month,Delivery_Duration_In-Days
0,ORD1000,2024-01-01,2024-01-08,Delayed,North,Books,9308,January,January,7
1,ORD1001,2024-01-02,2024-01-06,On-Time,East,Fashion,3767,January,January,4
2,ORD1002,2024-01-03,2024-01-11,Delayed,West,Books,17709,January,January,8
3,ORD1003,2024-01-04,2024-01-09,On-Time,North,Home,6245,January,January,5
4,ORD1004,2024-01-05,2024-01-12,Delayed,North,Home,11838,January,January,7
...,...,...,...,...,...,...,...,...,...,...
195,ORD1195,2024-07-14,2024-07-15,On-Time,West,Fashion,14989,July,July,1
196,ORD1196,2024-07-15,2024-07-23,Delayed,North,Fashion,17133,July,July,8
197,ORD1197,2024-07-16,2024-07-23,Delayed,West,Fashion,10857,July,July,7
198,ORD1198,2024-07-17,2024-07-19,On-Time,West,Fashion,17654,July,July,2
199,ORD1199,2024-07-18,2024-07-26,Delayed,South,Home,4863,July,July,8

In [16]:
df['Is_Delayed'] = (df['Delivery_Status'] == 'Delayed').astype(int)
df['Is_On-Time'] = (df['Delivery_Status'] == 'On-Time').astype(int)
df

,Order_ID,Order_Date,Delivery_Date,Delivery_Status,Region,Product_Category,Sales_Amount,Order_Month,Delivery_Month,Delivery_Duration_In-Days,Is_Delayed,Is_On-Time
0,ORD1000,2024-01-01,2024-01-08,Delayed,North,Books,9308,January,January,7,1,0
1,ORD1001,2024-01-02,2024-01-06,On-Time,East,Fashion,3767,January,January,4,0,1
2,ORD1002,2024-01-03,2024-01-11,Delayed,West,Books,17709,January,January,8,1,0
3,ORD1003,2024-01-04,2024-01-09,On-Time,North,Home,6245,January,January,5,0,1
4,ORD1004,2024-01-05,2024-01-12,Delayed,North,Home,11838,January,January,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
195,ORD1195,2024-07-14,2024-07-15,On-Time,West,Fashion,14989,July,July,1,0,1
196,ORD1196,2024-07-15,2024-07-23,Delayed,North,Fashion,17133,July,July,8,1,0
197,ORD1197,2024-07-16,2024-07-23,Delayed,West,Fashion,10857,July,July,7,1,0
198,ORD1198,2024-07-17,2024-07-19,On-Time,West,Fashion,17654,July,July,2,0,1
199,ORD1199,2024-07-18,2024-07-26,Delayed,South,Home,4863,July,July,8,1,0

In [18]:
# confirming that the order date should come first then delivery date
invalid_orders = df[df['Order_Date'] > df['Delivery_Date']]
#from result we can see that no invalid orders.

Empty DataFrame
Columns: [Order_ID, Order_Date, Delivery_Date, Delivery_Status, Region, Product_Category, Sales_Amount, Order_Month, Delivery_Month, Delivery_Duration_In-Days, Is_Delayed, Is_On-Time]
Index: []

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order_ID                   200 non-null    object
 1   Order_Date                 200 non-null    datetime64[ns]
 2   Delivery_Date              200 non-null    datetime64[ns]
 3   Delivery_Status            200 non-null    object
 4   Region                     200 non-null    object
 5   Product_Category           200 non-null    object
 6   Sales_Amount               200 non-null    int64
 7   Order_Month                200 non-null    object
 8   Delivery_Month             200 non-null    object
 9   Delivery_Duration_In-Days  200 non-null    int64
 10  Is_Delayed                 200 non-null    int64
 11  Is_On-Time                 200 non-null    int64
dtypes: datetime64[ns](2), int64(4), object(6)
memory usage: 18.9+ KB

In [20]:
df.to_csv("Ecommerce_Order_Fulfilment_CLEAN.csv", index=False)